.active-users-nav{
    display: flex;
    flex-direction: row;
  

}
.active-users-nav .nav-item {
    margin:1rem;
    min-width: 14rem;
    
  
   

    
}
.active-users-nav .nav-item a.link{
    padding:.5rem 1rem .5rem 1rem;
    border-radius: .25rem;

} 