 div.active-users-nav{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}
div.active-users-nav .nav-item{
    margin-bottom: 1rem;
    width: 12rem;
    border-radius: .25rem;
}
div.active-users-nav .nav-item:first-child{
    margin-top: 1rem;
}
div.active-users-nav .nav-item a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    border-radius: .5rem;
    text-decoration: none;
}
