.service-booklet-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    max-width:1200px;
    min-width: 390px;
    margin-top: 1rem;
    padding:1rem;
    border-radius: 0.5rem;
}
.workplace-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.workplace-info .message-box{
    margin-top: 1rem;
    height: 5rem;
}
.workplace-info .message-box button{
    margin-top: 1rem;
    border: none;
    border-radius: 0.5rem;
    width:8rem;
    height: 2rem;
}
.workplace-info .message-box button:hover{
  cursor: pointer;
}

@media(max-width:450px){
    .workplace-info .message-box button{
        margin-top:0;
    }
}
.service-booklet-entry-link-item{
    display: flex;
    justify-content: space-around;
    border-radius: 0.5rem;
    margin-top: 1rem;
    height: 2rem;
    width: 8rem;
    text-align: center;
}

.service-booklet-entry-link-item a{
    display: flex;
    flex-direction:column;
    width: 8rem;
    line-height: 2rem;  
    border-radius: 0.5rem;
}
/* entry form  */
.service-booklet-entry-form{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    max-width: 10rem;
}
.service-booklet-entry-form .input-box{
    display: flex;
    justify-content: flex-start;
    
    margin-top: 1rem;
}
.service-booklet-entry-form .input-box label{
    width: 8rem;  
}
.service-booklet-entry-form .input-box-issues{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border:1px solid white;
    margin-top: 1rem;
    width:20rem
}
.service-booklet-entry-form .input-box-issues textarea{
   width:100%;
   height: 5rem;
   resize: none;
}
.service-booklet-entry-form .button-input-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: none;
    border-radius: 0.5rem;
    margin-top: 1rem;
}
.service-booklet-entry-form .button-input-box .btn-primary{
    border: none;
    width: 8rem;
    border-radius: 0.25rem;
}
.service-booklet-entry-form .button-input-box .btn-primary{
    border: none;
    width: 8rem;
    border-radius: 0.25rem;
}
.service-booklet-entry-form .button-input-box .btn-primary:disabled{
    border: none;
    width: 8rem;
    border-radius: 0.25rem;
    background-color: gray;
}
.service-booklet-entry-form .error-box{
    margin-top: 1rem;
    display: flex;
    min-width: 370px;
}
.service-booklet-entry-form .error-box p{
    display: flex; 
    color: red;
}

