.chamfering-page-main-container{
    display: flex;
    flex-direction: column;
    max-width: 98%;
    min-width: 390px;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
}
.chamfering-page-main-container .chamfering-repotrs-form-container{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.chamfering-page-main-container .chamfering-repotrs-form-container h1{
    margin-bottom: 1rem;
}
.chamfering-page-main-container .chamfering-repotrs-form-container .input-box{
    margin: auto;
    display: flex;
    max-width: 12rem;
    flex-direction: column;
    margin-bottom: 1rem;
}
.chamfering-page-main-container .chamfering-time-container{
    margin: auto;
}

