.chamfering-page-main-container{
    margin: auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    max-width:1200px;
    min-width: 390px;
    min-height: 500px;
    border-radius: 0.5rem;  
  
}
/* form */
.chamfering-repotrs-form-container{

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.chamfering-repotrs-form-container .input-box{
    margin-bottom: 1rem;
}
.chamfering-repotrs-form-container .input-box:first-child{
    margin-top: 1rem;
}
.chamfering-repotrs-form-container input{
    border-radius: .25rem;
    padding: .25rem;
}
.chamfering-repotrs-form-container input[type="submit"]{
    border: none;
    display: flex;
}
.chamfering-repotrs-form-container input[type="submit"]:disabled{
    background-color: gray;
}
.chamfering-repotrs-form-container input[type="submit"]:hover{
    cursor: pointer;
}
.chamfering-repotrs-form-container .error-box p{
    color: red;
}
/* chamfering time */
.chamfering-time-container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* table */
.chamfering-tabel{
    display: flex;
    flex-direction: column;       
}
.chamfering-tabel table{
    padding-bottom: 1rem;
     
}

.chamfering-tabel th, .chamfering-tabel td{
    background-color: var( --clr-primary-100);
    padding:1rem;
    text-align: center;   
}



@media(max-width:390px){
    .chamfering-tabel table{
        font-size: 0.70rem;
    }
    .chamfering-tabel th, .chamfering-tabel td{
        padding:0.25rem;
    }


}
