.spinner{
    height: 120px;
    width:120px;
    border:6px solid white;
    border-color: white transparent white transparent;
    border-radius: 50%;
    animation: spin 1s ease infinite;
   margin: auto;
   margin-top: 20%;
    
}

@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}

@media(max-width:390px){
    .spinner{
        height: 80px;
        width:80px;
    }

}
