div.chamfering-main-container{
    display: flex;
    flex-direction: column;
}
/* form */
div.form-container{

}
div.form-container form{
    display: flex;
    justify-content: space-around;
}
div.form-container form .input-box{
}
.error-box{
    min-height: 1.5rem;
    margin-left: 1rem;
    color: red;
    font-size: large;

}