.chamfering-form-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}
.chamfering-form-container .input-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 1rem;
}
.chamfering-form-container .input-box input{
    border: none;
    border-radius: 5px;
    text-align: center;

   

}
.chamfering-form-container .input-box input[type="submit"] {
    max-width: 10rem;
   
}
.chamfering-form-container .input-box input[type="submit"]:not([disabled]):hover  {
   cursor: pointer;
   
}



