.posted-on-workplace-users-list{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.posted-on-workplace-users-list ul{
    list-style: none;

}
.posted-on-workplace-users-list ul .list-item{
    display: flex;
}
.posted-on-workplace-users-list ul .list-item .item-detail{
    margin-right: 1rem;
}
