.info-page-container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: .5rem;
    margin: auto;
    margin-top: 1rem;
    max-width: 98%;
    min-width:390px ;
}
.info-page-container .add-info-form-container .input-box{
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}
.info-page-container .add-info-form-container .text-input{
    max-width: 25rem;
    max-height: 15rem;
    min-height: 10rem;
    resize: none;
}
.info-page-container .add-info-form-container .error-box{
    margin-top: 1rem;
}
.info-page-container .list-container .list-item-container{
    margin-bottom: 1rem;
    border-top: 1px solid white;
}

@media(max-width:390px){
    
}

