nav.main-nav-bar{
    display:flex;
    align-items: center;
    min-height: 3rem;
    min-width: 100%;
    /* tak zeby bylo non stop na gorze */
    position: sticky;
    top:0;
    background-color: var(--clr-primary-400);
    /*  */
    border-bottom:0.1rem solid white;
}
nav.main-nav-bar ul{
    display:flex;   
}
nav.main-nav-bar ul li{
    list-style: none;  
    margin: auto;
}

nav.main-nav-bar ul li a{
    display: block;
    text-decoration: none;
    padding:.25rem 1rem;
    margin: 0 1rem;
    border-radius: 0.5rem;  
}
nav.main-nav-bar ul li a:target{
    border-radius: 0.5rem;  
}

nav.main-nav-bar .menu{
display: none;
position: absolute;
top:0.5rem;
left:0.5rem;
flex-direction: column;
justify-content: space-between;
width:2.25rem;
height:2rem;
}
nav.main-nav-bar .menu span{
    height: 0.3rem;
    width: 100%;
    background-color: white;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    
}
@media(max-width:1000px){
    nav.main-nav-bar .menu{
        display: flex;
    }
    nav.main-nav-bar{
        min-width: 390px;
        max-width: 1000px;
        flex-direction: column;
        align-items: start;
    }
    nav.main-nav-bar ul{
        overflow:hidden ;
        flex-direction: column;
        margin-top:3rem;
        width:100%;
        max-height:0;
        transition: max-height .5s linear;  
        
        
    }
    nav.main-nav-bar ul.open{
        display: flex;
        max-height: 300px;}
        
    nav.main-nav-bar ul li{
        width: 100%;
        margin-left: 0;       
        margin-bottom: 0.25em;  
    }

}