.schedulePage{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    min-width:500px;
    margin: 0 auto 0 auto;    
}
 @media(max-width:500px) {
    .schedulePage{
        margin-top: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        min-width: 390px;
        max-width:390px ;
        

    }
    .main .shift-item:first-child {
        margin:0;
      }
    
      .main .shift-item:last-child {
        margin:0;
      }
      .container .selectWeekForm{
        margin-bottom: 0;
      }
 

    .schedulePage ul{
       display:flex;
       flex-direction: column;
      
       flex-wrap: nowrap;
        list-style: none;
        min-width: 20rem;
    }}
    
    .selectWeekForm{
        margin-top: 1rem;
       margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        min-width: 20rem;
        align-items: center;
        justify-content: space-around;
       
    }
    .selectWeekForm .inputFormContainer{
        
        margin-bottom: .5rem;
        display: flex;
        justify-content: flex-start;    
        min-width: 20rem;
    
    }
    .selectWeekForm .inputFormContainer label{
      
       width: 50%;   
        
    }
    .selectWeekForm .inputFormContainer input{
    
       width: 50%;   
       margin: auto;
       height: 1.5rem;
        
    }
    @media(min-width: 1300px){
    .shift-item:first-child{
        margin-right: 10rem;
        
        
    }
    .shift-item:last-child{
        margin-left: 10rem;
        
        
    }
    .schedulePage .main {
        flex-wrap: nowrap;
    }}
    @media(max-width:1299px){
        .shift-item:first-child{
            margin-right: 3rem;
                 
        }
        .shift-item:last-child{
            margin-left: 3rem;
               
        }
    }
   



 
 .schedulePage .main {
   /* border: 5px solid red; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    min-width: 20rem;
    justify-content: center;
    list-style: none;
}
.schedulePage li{
    min-width: 20rem;
    
    
    
    

}






