*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
    color: white;
   
}
body{
    background-color:rgb(24, 11, 202) ;
    
    
    

}
@media (max-width: 400px) {
    body {
      font-size: 9pt;
    }
  }